*{
  cursor: pointer;
  user-select: none;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}
/*   0 . 0 [:]  */
.alertBox{
  background-color: #007bff;
}

body{
  margin: 0;
  padding: 0;
}
#bg{
  position: absolute;
  width: 100vw;
  height: 100dvh;
  background-color: rgb(67, 67, 67);
  animation: pop 1.2s ease-in;
}

@keyframes pop {
    0%{
        opacity: 0;
    }100%{
        opacity: 1;
    }
}

.container{
  height: 100vh;
  width: 100vw;

  display: flex;
  flex-direction: row;
  position: relative;
  
}


nav{
  border-right: 2px solid whitesmoke;
  height: 100%;
  width: 10%;
  display: flex;
  flex-direction: column
}
.user-img-name{
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.user-img{
  height: 75px;
  width: 75px;
  border-radius: 50%;
  background-color: rgb(145, 151, 157);
}
.user-name{
  font-size: 22px;
  font-weight: bold;
  margin: 15px 0 0 0;
  color: aliceblue;
}

.navButton{
  height: 100%;
  display: flex;
  flex-direction: column;
}

#add{
  margin: 30% 0 20% 10%;
  width: fit-content;
}

#addBtn{
  background-color: #f8f8f8;
  font-size: 30px;
  color: rgb(97, 95, 95);
  font-weight: bold;
  border-radius: 10px;
  padding: 5px 5px;
  text-align: center;
  box-shadow: 3px 3px rgb(51, 50, 50);
  
}
#addList{
  background-color: rgb(255, 255, 255);
  font-size: 20px;
  position: absolute;
  padding: 10px;
  top: 160px;
  left: 20px;
  border: 1px solid darkgray;
  border-radius: 10px;
  box-shadow: 5px 5px #27272790;
  display: none;
}
#addList div{
  padding: 10px 10px;
}
#addList div:hover{
  background-color: #d3d7d9;
}


.button{
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  column-gap: 10px;
  font-size: 20px;
  font-weight: bolder;
  padding: 20px 0;
}
svg{
  color: aliceblue;
  height: 40px;
  width: 40px;
}
.button:hover{
  background-color: whitesmoke;
  color: rgb(67, 67, 67);
  transition: .5s ease;
}
.button:hover svg{
  stroke: rgb(67, 67, 67);
}



main{
  background-color: #1d1d1d;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
#labelC{
  padding: 15px;
  font-size: 65px;
  font-weight: bolder;
  color: white;
}
section{
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: 85%;
  display: none;
  /* background-color: #007bff; */
  /* overflow-y: auto;
  overflow-x: hidden; */
  overflow-y: auto;
  overflow-x: hidden;
}

/* #forQuotes{
  overflow-y: auto;
  overflow-x: hidden;
} */


/* -=- my hidden div will only show when user click the New Quote  -=--=*/
.pop{
  display: none;
  position: absolute;
  background-color:  #0000008c;
  height: 100dvh;
  width: 100vw;
  z-index: 2;
}
#quoteBox{
  height: 450px;
  width: 650px;
  background-color: #ECDFCC;
    
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  box-sizing: border-box;
  padding: 40px;
}
#quoteBox h1{
  margin: 0;
  font-size: 40px;
}
#quoteTitle{
  background-color: transparent;
  outline: none;
  border: none;
  font-size: 25px;
  margin: 20px 0 10px 25px;
  color: #697565;
  padding: 10px;
}
.quoteText{
  background-color: white;
  width: 100%;
  height: 55%;
  box-sizing: border-box;
  padding: 10px;
}
#quoteInp{
  font-size: 22px;
  font-weight: bolder;
  color: #697565;
  outline: none;
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  resize: none;
  text-indent: 30px;
}


.input-buttons{
  position: absolute;
  bottom:20px;
  right: 40px;
}
#cancel, #submitQuote{
  margin-top: 15px;
  padding: 10px;
  font-weight: bolder;
  font-size: large;
}
#cancel{
  color: #007bff;
  background-color: transparent;
  border: none;
}
#submitQuote{
  color: #565656c6;
  background-color: transparent;
  border: none;
}
/* = =-= -= - =- = -= - = -= -= -= - =- = -= -= =-=-=-=-=-=-=-- =- = - */

/* from Js for Quote */
.quoteList{
  position: relative;
  width: 95%;
  padding: 10px 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  border-bottom: 1px solid #B0B0B0;
  margin: auto;
  /* background-color: #007bff; */
}
.quoteList:hover{
  background-color: #2A2A2A;
}
.titleDate{
  color: #E0E0E0;
  padding: 5px 0;
}
.titleDate h1{
  margin: 0 0;
}
.quoteList svg:hover{
  background-color: rgba(255, 119, 119, 0.875);
}


/* = = == = == -=- =- =Show when clicked New Links -= -= - =- =- = - = */
#saveLinks{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);

  background-color: #ffffff;
  height: auto;
  width: 400px;
  color: #2A2A2A;
  padding: 20px;
  box-shadow: 10px 10px rgb(44, 44, 44);
}
#saveLinks h1{
  margin-bottom: 20px;
}
#saveLinks h2,input{
  width: 95%;
  font-weight: bold;
  font-size: larger;
}

#saveLinks input{
  margin: 10px 0 20px 0;
  padding: 5px;
  outline: none;
  border: none;
  border-bottom: 1px solid black;
}
#saveLinks button{
  background-color: transparent;
  border: none;
  float: right;
  margin: 20px 30px 0 0;
  font-size: larger;
  font-weight: bold;
}
#submitLink{
  color: #565656c6;
}
#cancelLink{
  color: #007bff;
}



/*  from JS for Link  */
.linkList{
  position: relative;
  margin: auto;
  height: 200px;
  width: 200px;
  background-color: #d3d7d952;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 15px;
}

.linkList:hover{
  background-color: #d3d7d981;
}

.linkImg{
  height: 70px;
  width: fit-content;
  overflow: hidden;
  margin: auto;
}
.linkList img{
  height: 100%;
  width: auto;
}
.linkList h3{
  margin: auto;
  text-align: center;
  color: #dfdfdfda;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 10px;
  width: 100%;

  white-space: nowrap;

}

.linkVisit{
  color: #dfdfdfda;
  font-weight: bolder;
  margin-top: 35px;
}

.delLink{
  position: absolute;
  right: 0;
  top: 0;
  display: grid;
  place-items: center;
  z-index: 1;
}
.delLink svg{
  margin: 0;
  color: #760c2cdb;
}

#gridLinks{
  display: grid; 
  grid-template-columns: repeat(auto-fit,200px);
  justify-content: center;
  column-gap: 35px;
}
.gridItemLink{
  margin: 20px;
}

/* ==- =- =- =- =-- =-00 = = - = -= -= -=- = -= -= -= -= -= */

/*  =- =- =- = =0  Todo  -=-=-=-=-=-=*/
#forTodo{
  
  overflow-y: auto;
}
.gridTodo{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 35px;
  justify-content: center;
  align-items: first baseline;
  height: 97%;
  padding: 0 3%;
  margin-top: 20px;
}
.todo{
  box-sizing: border-box;
  padding: 30px 15px 20px 15px;
  background-color: #2c2c2c;
  max-height: 100%;
  border-radius: 15px;
  overflow: hidden;
}
.todo .scroll{
  padding: 0 10px;
  overflow-y:auto; 
  max-height: 85%;
}

.todo .scroll::-webkit-scrollbar {
  width: 10px;
}

.todo .scroll::-webkit-scrollbar-track {
  background-color: #697565;
  border-radius: 15px;
}
.todo .scroll::-webkit-scrollbar-thumb{
  background-color: #d3d7d9;
  border-radius: 15px;
}


/* -==-=-= -= Show when click new Todo for input -= = =0-0- 0-=0= */
.todoBox{
  box-sizing: border-box;
  background-color: #d3d7d9;
  width: 500px;
  padding: 20px;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.todoBox h1{
  margin: 40px 0 30px 0;
  color: #3C3D37;
}
.todoBox label{
  font-weight: bold;
  font-size: 18px;
  color: #3d3d3d;
}
.todo #desc{
  word-break: unset;
  height: auto;
}
.todoBox input{
  margin: 10px 0 20px 0;
  outline: none;
  padding: 10px 20px;
  width: 100%;
  border: 1px solid rgb(138, 138, 138);
  background-color: #d3d7d9;
  border-radius: 8px;
  font-size: 18px;
  color: #3d3d3d;
}
.todoBox span{
  color: red;
}
.todoBox #submitTodo{
  margin-top: 30px;
  padding: 15px;
  border-radius: 8px;
  font-weight: bold;
  font-size: 18px;
  background-color: #2A2A2A;
  color: #d3d7d9;
  width: 100%;
}
.todoBox #cancelTask{
  position: absolute;
  right: 20px;
}
.todoBox img{
  height: 30px;
  width: 30px;
}

/*  */
#qbg{
  display: none;
  position:absolute;
  background-color: #43434399;

  height: 100vh;
  width: 100vw;
}
#qbg #qbox{
  width: 650px; 
  height: fit-content; 
  padding: 50px 25px;
  box-shadow: 5px 5px .5px rgba(0, 0, 0, 0.928);
  border-radius: 15px;
  background-color: #FFECDB;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.qqq:hover{
  transform: scale(1.1);
}


/* from database loadTodo style */
.tbtn{
  display: flex;
  gap: 10px;
  margin: 15px 0 0 0;
}
.tbtn small{
  background-color:rgba(181, 180, 180, 0.455);
  padding: 5px 10px;
  border-radius: 20px;
  font-weight:bolder;
  color:rgba(61, 61, 61, 0.76);
}

.loadTodo{
  background-color:	#efefefe8;
  padding: 10px;
  box-sizing: border-box;
  border-radius:10px;
}
.loadTodo h1{
  color:rgba(64, 64, 64, 0.94);
}
.loadTodo h3{
  text-indent:10px;
  margin: 10px 0;
  color:rgba(88, 88, 88, 0.78);
}
.loadTodo h4{
  margin: 10px 0;
  font-weight:bolder;
  color:rgba(255, 79, 103, 0.92);
}

/*  */
#setting{
  box-sizing: border-box;
  display: none;
  /* height: 100dvh;
  width: 100vw; */
  /* background-color: #cbcbcb; */
}
#setting .settingBox{
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);

  background-color: #e0e0e0e3;
  box-sizing: border-box;
  width: 450px;
  padding: 20px 30px 30px 30px;
}
.settingBox .image{
  height: 100px;
  width: 100px;
  background-color: #2c2c2c;
  border-radius: 50%;
  margin: auto;
}
#spfp{
  height: 100%;
  width: 100%;
}
.settingBox h4{
  background-color: #c6c6c6;
  width: fit-content;
  padding: 5px 10px;
  margin: 15px auto;
}
#setting .btn{
  background-color: #c6c6c6;
  padding: 5px 10px;
  width: fit-content;
  font-weight: bolder;
  margin: 5px 0;
}
#setting .setInfo{
  background-color: #c6c6c6;
  width: 95%;
  padding: 5px 10px;
  font-size: 25px;
}
#setting h3{
  margin: 15px 0 5px 0;
}


#greet .gb{
  background-color: #ffffffeb;
  width: 300px;
  height: 350px;
  padding: 20px;
  border-radius: 15px;
  box-sizing: border-box;
}

@media(max-width: 425px){
  .container{
    flex-direction: column;
    align-items: baseline;
    transform: translateY(0%);
  }
  nav{
    height: 80px;
    width: 100%;
    border-radius: 0;
  }
  main{
    margin: 0;
  }
}
